
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
    font-family: 'Overpass', sans-serif;
  background: hsl(216, 12%, 8%);
  

}


.div-container{
    display: flex;
justify-content: center;  
align-items:center;
margin-top: 10%;

    height:80%;
   width: 100%;
}

.Container h1{
    color: hsl(0, 0%, 100%);
    margin-left: 20px;
}
.Container p{
    margin-left: 20px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    padding: 10px;
}
.Container{
    text-align: left;
  
  margin: auto;
    padding: 20px;
    border-radius: 10%;
    height: 390px;
    width:350px;
    background: hsl(213, 19%, 18%);
  
}
li{
    list-style-type: none;
}
ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

.Boton{
    margin-left: -25px;
    padding: 1.1em 1.4em;
    border: none;
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    background-color: hsl(214, 11%, 24%);
    font-size:15px;
    transition: all .3s ease;
    cursor: pointer;
}


.Boton:hover{
    background: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    transition: 00.5s;
    cursor: pointer;
    
}

.star {
   width: 22px;
   height: 22px;
   margin-top: 10%;
   margin-left: 3%;
}

.Sumit{
    display: flex;
    font-size: 20px;
    margin-top: 12%;
    margin-left: 8%;
    justify-content: center;
    color: hsl(0, 0%, 100%); 
    width: 80%;
    padding: 10px;
    background: hsl(25, 97%, 53%);
    border: none;
    border-radius: 1em;
    cursor: pointer;
}


.Sumit:hover{
    color: hsl(25, 97%, 53%);
    background: hsl(0, 0%, 100%);
    transition: 0.5s;
}


.Calificacion{
    display: none;
    text-align: center;
    background: hsl(213, 19%, 18%);
    width: 390px;
    height: 350px;
    padding: 20px;
    border-radius:10%;
    margin: auto;
   
}

.Calificacion h3{
    color: hsl(0, 0%, 100%);
    margin: auto;
    font-size: 30px;
    padding: 20px;
}


.Calificacion p{
    color: hsl(216, 12%, 54%);
    font-size: 15px;
   padding: 5px;
  margin: auto;
}


.Calificacion .counter{
 color:  hsl(25, 97%, 53%);
 background: hsl(203, 10%, 15%);
 border-radius: 10px;
 width: 50%;
 margin: auto;
 margin-top: 30px;
 

}

.Calificacion .counter:hover{ 
    outline: 2px solid; 
    outline-color: hsl(25, 97%, 53%);
     transition: 0.1s ; 
    
}

.img{
    padding: 15px;
}


.attribution{
 
    margin-top: 5%;
text-align: center;
    color: hsl(216, 12%, 54%);
}

.attribution  a{
    color:hsl(216, 71%, 74%)
}


@media screen and (max-width:450px) {

    body{
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .div-container{
        width: 100%;
        height: 50%;
        margin-top: 10%;
}
    .Container{
        border-radius: 10%;
        width: 300px;
        padding: 10px;
        
        padding: 20px;
        height: 350px;
        
}
.Container p{
    font-size: 13px;
    padding: 10px;
}

.Calificacion{
    
    border-radius: 10%;
    width: 300px;
    padding: 10px;
    
    padding: 20px;
    height: 350px;
    
}

.Calificacion p{
    margin-top: 5%;
}

.Calificacion .counter{
  
    width: 80%;
}

.attribution{
    font-size: 10px;
}

.Boton{
    font-size: 13px;  
}
}